<div class="pt">
  <div class="box">
    <h2 class="header">
      Simple
    </h2>
    <ul>
      <li> Free account</li>
      <li> 15 email</li>
      <li> 100 Gb space</li>
      <li> 1 domain</li>
      <li> Free account</li>
      <li> 15 email</li>
      <li> 100 Gb space</li>
      <li> 1 domain</li>
      <li> Free account</li>
      <li> 15 email</li>
      <li> 100 Gb space</li>
      <li> 1 domain</li>
    </ul>
  </div>

  <div class="box">
    <h2 class="header">
      Ultimate
    </h2>
    <ul>
      <li> Free account</li>
      <li> 15 email</li>
      <li> 100 Gb space</li>
      <li> 1 domain</li>
      <li> Free account</li>
      <li> 15 email</li>
      <li> 100 Gb space</li>
      <li> 1 domain</li>
      <li> Free account</li>
      <li> 15 email</li>
      <li> 100 Gb space</li>
      <li> 1 domain</li>
    </ul>
  </div>
</div>