<div class="middle">
  <div class="menu">
    <li class="item" id="item1">
      <a href="#item1" class="btn"><i class="far fa-user"></i> Item 1</a>
      <div class="smenu">
        <a href="">Item 1 Submenu</a>
      </div>
    </li>
    <li class="item" id="item2">
      <a href="#item2" class="btn"><i class="far fa-user"></i> Item2</a>
      <div class="smenu">
        <a href="">Item 2 Submenu</a>
      </div>
    </li>
    <li class="item" id="item3">
      <a href="#item3" class="btn"><i class="far fa-user"></i> Item 2</a>
      <div class="smenu">
        <a href="">Item 2 Submenu</a>
      </div>
    </li>

    <li class="item">
      <a href="" class="btn"><i class="far fa-user"></i> sair</a>
     
    </li>
  </div>
</div>